.modal-search {
    width: 600px;
    height: 50px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    margin-top: 20px;
    border-top-left-radius: 100px;
    border-bottom-left-radius: 100px;
    border-top-right-radius: 100px;
    border-bottom-right-radius: 100px;
    border: 1px solid var(--white-color-100);
    background-color: var(--dark-color-160);
    -webkit-backdrop-filter: blur(50px);
            backdrop-filter: blur(50px);
    z-index: 10;
}

.modal-search__icon {
    fill: var(--white-color-30);
    margin-left: 20px;
    margin-right: 10px;
}

.modal-search__input {
    width: 100%;
    height: 50%;
    color: var(--white-color-10);
    padding-right: 10px;
    background-color: rgba(0, 0, 0, 0);
}

.modal-search__input::-webkit-input-placeholder {
    color: var(--white-color-10);
}

.modal-search__input::-moz-placeholder {
    color: var(--white-color-10);
}

.modal-search__input:-ms-input-placeholder {
    color: var(--white-color-10);
}

.modal-search__input::-ms-input-placeholder {
    color: var(--white-color-10);
}

.modal-search__input::placeholder {
    color: var(--white-color-10);
}

.modal-search__interection-buttons {
    width: 20%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: distribute;
        justify-content: space-around;
    -webkit-box-align:center;
        -ms-flex-align:center;
            align-items:center;
}

.modal-search__interection-buttons span:nth-child(1) {
    -webkit-user-select: none;
       -moz-user-select: none;
        -ms-user-select: none;
            user-select: none;
    font-size: 18px;
    color: var(--white-color-50);
    margin-right: 10px;
}

.modal-search__interection-buttons span:nth-child(1):hover {
  color: var(--white-color-10);
}

.modal-search__interection-buttons span:nth-child(2) {
    -webkit-user-select: none;
       -moz-user-select: none;
        -ms-user-select: none;
            user-select: none;
    color: var(--white-color-100);
}

.modal-search__interection-buttons svg {
    -webkit-user-select: none;
       -moz-user-select: none;
        -ms-user-select: none;
            user-select: none;
    margin-top: 3px;
    padding: 6px;
    color: var(--white-color-30);
}

.modal-search__interection-buttons svg:hover {
   background-color: rgba(255, 255, 255, 0.097);
   border-radius: 50%;
}

.modal-search__form {
    width: 68%;
} 

.modal-search {
    box-sizing: border-box;
}

.modal {

    width: calc(100% - (100vw - 100%));
    height: 100vh;
    position: fixed;
    top: 0;
    left: 0;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    background-color: var(--dark-color-80);

}

.modal-search__content {
    background-color: var(--white-color);
    backdrop-filter: blur(50px);
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    gap: 20px;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
    margin-top: 30px;
    width: 35vw;
    height: 55vh;
    overflow: auto;
}
.modal-search__content::-webkit-scrollbar {
    width: 4px;
    background-color: var(--white-color);
}
.modal-search__content::-webkit-scrollbar-thumb {
    background: darkblue;
    border-radius: 20px;
}

.not-found {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    color: rgb(0, 0, 0);
}

.not-found span {
    font-size: 30px;
}

.search-content {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    color: rgb(0, 0, 0);
}

.search-content span {
    font-size: 30px;
}




/* PROFILE MODAL WINDOW  */

.profile__sigIn {
    width: 50%;
    min-width: 390px;
    height: 50vh;
    border-radius: 10px;
    background-color:var(--white-color-10);
    backdrop-filter: blur(15px);
    margin-top: 200px;
}

.sigIn-block {
    width: 100%;
    height: 65%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.profile__submit-container {
    width: 100%;
    height: 50px;
    display: flex;
}

.profile__submit {
    width: 120px;
    height: 30px;
    background-color: rgb(83, 220, 191);
    border-radius: 5px;
    color: var(--dark-color-80);
    cursor: pointer;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    border: none;
}

.profile__sigOut {
    width: 120px;
    height: 30px;
    background-color: rgba(161, 183, 34, 0.638);
    border-radius: 5px;
    color: var(--dark-color-80);
    cursor: pointer;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    border: none;
    margin-left: 15px;
}

.profile__cross-container {
    width: 50px;
    height: 50px;
    margin-left: auto;
    display: flex;
    justify-content: center;
    align-items: center;
}

.profile__header {
    display: flex;
    justify-content: space-between;
    color: rgba(0, 0, 0, 0.803);
    /* align-items: center; */
}

.profile__header span:nth-child(1) {
   width: 50px;
   display: flex;
   justify-content: center;
   align-items: center;
   padding: 0px 20px 0px 20px;
   border-radius: 5px;
   border: 2px solid rgba(22, 22, 88, 0.298);
   font-family:'Franklin Gothic Medium';
   cursor: pointer;
   margin-left: 20px;
   margin-top: 30px;
}

.border-bottom {
    text-decoration: underline;
}

.profile__header span:nth-child(2) {
    width: 150px;
    height: 30px;
    display: flex;
    padding: 0px 20px 0px 20px;
    border-radius: 5px;
    border: 2px solid rgba(22, 22, 88, 0.298);
    font-family:'Franklin Gothic Medium';
    justify-content: center;
    align-items: center;
    cursor: pointer;
    margin-left: 20px;
    margin-top: 30px;
}

.profile__header span:nth-child(1):hover {
    background-color: var(--white-color-50);
}
.profile__header span:nth-child(2):hover {
    background-color: var(--white-color-50);
}

.profile__cross path {
    stroke: var(--dark-color-80);
}
.profile__cross {
    cursor: pointer;
    width: 30px;
    height: 30px;
}

.login {
width: 150px;
height: 30px;
}

.password {
width: 150px;
height: 30px;
}

.profile__form {
    height: 40%;
    width: 75%;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    position: relative;
}

.profile__form span{
  width: 300px;
}

.profile__form label {

 margin-right: 10px;
 
 
}

.profile__form input {
 
    padding-left: 10px;
    border-radius: 4px;
    width: 90%;
    background-color: var(--dark-color-40);
    color: black;
}

.profile__footer {
    background-color:rgba(22, 22, 88, 0.298);
    border-top: 1px solid rgba(27, 27, 29, 0.11);
    width: 100%;
    height: 22%;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
}